version: '3.9'

services:
  dockspring:
    container_name: docker-spring-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

    depends_on:
      - dockDB
      - rabbit

    networks:
      - him-network

  dockDB:
    image: postgres:14.5
    container_name: dock-spring-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=blog
    ports:
      - '5432:5432'
    volumes:
      - dockDB:/var/lib/postgresql/data
    networks:
      - him-network

  rabbit:
    image: rabbitmq:3.9-management
    container_name: rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15692:15692"
    networks:
      - him-network

networks:
  him-network:
    name: him-network
    driver: bridge

volumes:
  dockDB: