# Sequest # 9
# Description: Demostrating conditiona execution of Github Action workflow.
# The If conditional statement is used to control execution of job or steps based on the outcome of the given condition.concurrency.
# The github action doesn't have 'else-if' or else keywords to create complex conditional statements.
name: Conditional Build and Test

on:
  push:
    branches:
      - himTech
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout application repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'
          cache-read-only: false

      - name: Change gradle permission
        run: chmod +x ./gradlew

      - name: Run Gradle tests
        id: run_tests
        run: ./gradlew test

      - name: Upload test reports (artifact)
        if: failured() && steps.run_tests.outcome == 'failure'
        # Upload test reports only if tests fail in previous step 'run_tests'
        # failure() is a github action function that returns true if any of the previous steps have failed.
        uses: actions/upload-artifact@v4

        with:
           name: test-reports
           path: build/reports/tests

  build-appln:
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - name: Checkout application repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'
          cache-read-only: false

      - name: Change gradle permission
        run: chmod +x ./gradlew

      - name: Run Gradle Build
        run: ./gradlew build

  send-notification:
    runs-on: ubuntu-latest
    # always run this job regardless of the outcome of the previous jobs
    if: always()
    needs: build-appln
    steps:
      - name: Send failure notification
        # failure() is a github action function that returns true if any of the previous steps/jobs have failed.
        if: failure()
        run: echo "Build failed!"
      - name: Send success notification
        # success() is a github action function that returns true if all previous steps have succeeded.
        if: success()
        run: echo "Build successful!"