# Sequence # 15
# Description: Using custom composite action using docker in the workflow.
name: Using Custom Docker Action

on:
  push:
    branches:
      - himTech
  workflow_dispatch:

jobs:
  run-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout application repository
        uses: actions/checkout@v4

      - name: Run custom Spring Boot build action
        id: build
        uses: ./.github/actions/spring-boot-build

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: spring-boot-app
          path: ${{ steps.build.outputs.artifact_path }}