name: Simple Github Action WorkFlow

on:
  push:
    branches:
      - main

jobs:
  Build-Appln:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout application repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.10'
          cache-read-only: false

      - name: Run Gradle Build
        run: ./gradlew build
