# Sequest # 2
# Description: GitHub Actions workflow to build a Java application using Gradle and upload build artifacts.
name: Application build and upload artifact

on:
  push:
    branches:
      - himTech
  workflow_dispatch:

jobs:
  build-appln:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout application repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'
          cache-read-only: false

      - name: Change gradle permission
        run: chmod +x ./gradlew

      - name: Run Gradle Build
        run: ./gradlew build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: |
            build/libs/*.jar
            build/resources/main/application.properties

  deploy:
    needs: build-appln
    runs-on: ubuntu-latest
    steps:
      - name: Deploy the build
        run: echo "Deploying build on multiple clouds"
